# SPDX-FileCopyrightText: 2023 Mewbot Developers <mewbot@quicksilver.london>
#
# SPDX-License-Identifier: BSD-2-Clause

mewbot~=0.0.3
mewbot-api~=0.0.3
mewbot-io~=0.0.3
mewbot-test~=0.0.3


# RSS reader
feedparser~=6.0.10
